:root {
  --not-white: #fffaf3;
  --drk-white: #f2e9e1;
  --not-black: #191724;
  --not-red: #eb6f92;
  --not-blue: #31748f;
  --not-green: #56949f;
  --not-grey: #393552;
  --muted: #6e6a86;
  --hdr-hght: 5rem;
  --lrg-txt: 2.2rem;
}

.light-theme {
  --bg-color: var(--not-white);
  --bg-side: var(--drk-white);
  --text: var(--not-black);
}

/* .dark-theme { */

/* --bg-color: var(--not-grey);*/

/* } */

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.main-container {
  height: 100vh;
  display: flex;
  font-family: "Quicksand", sans-serif;
  background: #fffaf3;
}

.side-note-menu {
  height: 100%;
  width: 20rem;
  background-color: var(--bg-side);
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--hdr-hght);
}

.side-nav span {
  color: var(--text);
}

.side-nav span p {
  font-size: var(--lrg-txt);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.note {
  margin: 10px 40px;
  box-shadow: 0 0 10px 0 #191724
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.4rem;
}


nav a {
  text-decoration: none;
}


.icons {
  margin: 0.87rem;
  cursor: pointer;
  color: #31748f;
}

textarea,
input,
button {
  padding: 0.4rem;
  display: block;
  margin: 0.4rem;
  background-color: #f2e9e1;
  color: #191724;
}

textarea::placeholder,
input::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

button {
  padding: 0.17rem 0.81rem;
  cursor: pointer;
}

/* update save */
.cardNote {
  margin: 10px;
  border: 1px solid #6e6a86;
  background: #fffaf3;
  padding: 10px;
  transition: .5s ease;
  border-radius: 10px;
}

.cardNote:hover {
  cursor: pointer;
  background: #56949f;
}


footer {
  position: absolute;
  background: #f2e9e1;
  width: 100%;
  padding: 10px;
  bottom: 0;
}

p {
  color: #393552;
}